{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Newsletter{% endblock %}



{% block content %}
<div class="container newsletter-margin">
    <div class="row">
        <div class="col-12 text-center btn-shopping">
            <hr>
            <h2 class="logo-font mb-4 checkout-margin-bottom">Sign Up to our Newsletter</h2>
            <hr>
        </div>
    </div>
    <div class="statement-style">
        <p>By submitting to MovieNight's weekly newsletter, you will be made aware of all the
            latest arrivals, staff picks and upcoming movies, TV shows and documentaries. 
        </p>
        <hr>
        <form method="POST" class="form-margin">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <div class="py-3">
                <button class="btn btn-newsletter form-margin" type="submit">Subscribe</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}