html {
    height: 100%;
    scroll-behavior: smooth;
}


body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}   

.img-background {
    background: url('/media/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height:100vh;

}

.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.yellow-bg {
    
    background-color: rgb(225, 133, 34);
}

.text-white {
    color: #ffffff !important;
    font-weight: bold;
}

.text-margin {
    margin-top: 250px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.footer-logo {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bolder;
}


.logo {
    font-family: 'Cinzel', serif;
    
}
.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
    border-radius: 50%;
}

.socials {
    color:#ffffff;
    font-size: 1.5rem;
    padding-right: 0.5rem;
    margin-right: 3.75rem;
}

.contact-text {
    color:#212529!important;
    
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
