{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Make A Suggestion{% endblock %}

{% block page_header %}
<div class="container-flex">
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h2 class="text-center">Make A Suggestion</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container suggestion-margin">
    <div class="row mt-4">
        <!-- Send a message form  -->
        <div class="col-md-6 pl-3 my-4 mt-md-0">
            <p class="font-weight-bold">Make a Suggestion:</p>
            <form action="{% url 'suggestion' %}" method="POST" class="form" name="message_form">
                {% csrf_token %}
                <input type="text" class="w-100  form-control" placeholder="Name *" name="name" value="{{ request.user.username }}" required>
                <input type="email" class="w-100 mt-4  form-control" placeholder="Email Address *" name="email" value="{{ request.user.email }}" required>
                <input type="text" class="w-100 mt-4 form-control" placeholder="Subject *" name="subject" required>
                <textarea class="w-100 mt-4 form-control mb-2" placeholder="Your Message *" rows="10" name="message" required></textarea>
                <p class="float-left text-danger">* Required Fields</p>
                <button type="submit" class="btn btn-suggestion float-right">Send Message</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

