{% extends "base.html" %}
{% load static %}

{% block extra_title %}- About Us{% endblock %}



{% block content %}
<div class="container about-margin">
    <div class="row">
        <div class="col-12 text-center btn-shopping">
            <hr>
            <h2 class="logo-font mb-4 checkout-margin-bottom">Who Are We?</h2>
            <hr>
        </div>
    </div>
    <div class="statement-style">
        <p>Movie Night is a brand new website that wants to help you sort out your plans
           for the evening. We prioritise quality over quantity and our goal is to bring
           you the very best of movies, tv shows and documentaries.</p>
        

        <p> While we understand that physical media is past its glory days, Movie Night
            acknowledges its importance in the current entertainment landscape and,
            most importantly, on the preservation of media in the digital age.
        </p> 

        <p> Recently, the streaming giants have been cutting content they have exclusivity 
            rights for from their platforms. In an era where an increasing amount of content
            is being directly sold to those big companies, it's not farfetched to imagine that 
            a portion of that content will irreversibly dissapear for the purpose of cutting
            costs. Owning physical media is the best day you have to preserve the incredible work of 
            the artists that make your favourite entertainment come to life.
        </p> 
        <hr>
    </div>

    <div class="row">
        <div class="col-12 text-center btn-shopping">
            <hr>
            <h2 class="logo-font mb-4 checkout-margin-bottom">What Can You Expect From Us?</h2>
            <hr>
        </div>
    </div>
    <div class="statement-style">
    
        <p> As mentioned above, quality is our focus. We have carefully selected a number
            of movies, tv shows and documentaries that we believe are at the very top of their 
            category. As time goes by, our database will increase as we add more top tier entertainment
            options for you to choose from.
        </p> 

        <p> We would love to hear from you. Have you been looking for a movie that you've been
            craving to watch but can't find? Is there a tv show you missed and are eager to bingewatch?
            Then, tell us about it in our Make a Suggestion form and we will check if we can find it for you.
        </p> 
        <hr>
    </div>
</div>
{% endblock %}